// Author : Louis OLLIVIER ~ louis.ollivier@etu.univ-rouen.fr 
// Université Paris-Saclay
// Lab : LISN ~ UMR9015 ~ BIOINFO team 

initialize() {
	initializeTreeSeq();
	initializeMutationRate(0);
	initializeMutationType("m1", 0.5, "f", 0.0);
	//initializeMutationType("m2", 0.5, "f", 0.0); //  
	m1.mutationStackPolicy = "l";
	initializeGenomicElementType("g1", m1, 1.0);
	//initializeGenomicElementType("g2", m2, 1.0);
	
	initializeGenomicElement(g1, 0, 999999);
	//initializeGenomicElement(g2, 500000, 500001);
	//initializeGenomicElement(g1, 500002, 999999);
	
	initializeRecombinationRate(rho);
}

1 early() { sim.addSubpop("p1", Ne); }
10000 late() {
	sim.treeSeqOutput(paste("neutral_model_",rep,".trees",sep="")); //
}
